@charset "UTF-8";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;

  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d8;
  --neutral-400: #a3a3a3;
  --neutral-500: #78716c;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;

  --primary-50: #eef2ff;
  --primary-100: #e0e7ff;
  --primary-200: #c7d2fe;
  --primary-300: #a5b4fc;
  --primary-400: #818cf8;
  --primary-500: #6366f1;
  --primary-600: #4f46e5;
  --primary-700: #4338ca;
  --primary-800: #4338ca;
  --primary-900: #312e81;
}

html {
  --neutral-color: 0;
  height: 100vmin;
  /* display: grid;
	place-items: center; */
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: var(--neutral-900);
  background-color: var(--neutral-50);

  width: 100%;
  height: 100vmin;
  max-width: 60rem;
  margin: 0 auto;
}

h1 {
  font-size: 4em;
  line-height: 1.2;
  padding-block: 1rem;
  margin-inline: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 500;

  text-transform: uppercase;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  padding-inline: 1rem;
}

form label {
  display: block;
  margin-inline: 0.5rem;
  margin-block: 0.5rem;

  line-height: 1;

  font-size: 2em;
  font-weight: 600;
}

form label > .label-sm {
  font-size: 0.5em;
  display: block;
}

form :is(select, input) {
  padding-inline: 0.5rem;
  padding-block: 0.75rem;

  border: 3px solid var(--neutral-700);
  border-radius: 0.5rem;

  width: 100%;
  background-color: var(--neutral-100);

  font-size: 2em;
  font-family: monospace;
}

.row-span {
  grid-column: 1 / -1;

  gap: 1rem;
}

.btn {
  /* grid-column: 1 / -1; */
  padding-inline: 1rem;
  padding-block: 1rem;

  border: 3px solid var(--primary-600);
  border-radius: 0.5rem;

  /* width: 100%; */
  background-color: var(--primary-600);
  font-size: 1.5em;
  color: white;
  font-weight: 800;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.blank {
  background-color: var(--neutral-50) !important;
  color: var(--primary-900) !important;
}

.book-btn {
  padding-block: 0.5rem;
  padding-inline: 1rem;

  border: 3px solid var(--neutral-600);
  border-radius: 0.5rem;

  background-color: var(--neutral-600);
  color: white;
  font-size: 1em;

  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.item > a {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: var(--primary-600);

  border: 3px solid var(--primary-600);
  border-radius: 0.5rem;

  text-decoration: none;
  color: var(--neutral-100);

  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

:is(.btn:hover, .book-btn:hover, .item > a:hover) {
  background-color: var(--primary-700);
  border: 3px solid var(--primary-700);
}

.blank:hover {
  background-color: var(--neutral-400);
  color: var(--neutral-50);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding-inline: 1rem;
  width: auto;
}

.place {
  display: flex;
  place-content: center;
  width: 100%;

  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: 3px solid var(--primary-700);
  border-radius: 0.5rem;

  background-color: var(--primary-50);

  /*font-family: monospace;*/
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-900);
}

.emphasize {
  font-size: 3rem;
  text-transform: capitalize;

  font-weight: 800;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;

  margin-top: 1rem;
}

.grid-3 .head {
  font-weight: 900;
  border-bottom: 3px solid var(--primary-400);
  background-color: var(--primary-200);
  text-align: center;
}

.grid-3 :is(.head, .item) {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  font-size: 1.25rem;
  text-transform: capitalize;

  padding: 1rem;
}

.grid-3
  :is(.item:nth-child(6n + 1), .item:nth-child(6n + 2), .item:nth-child(6n
      + 3)) {
  background-color: var(--primary-50);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  margin-top: 1rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 1.5rem;
}

.p-1 {
  padding: 1rem;
}

.bus-grid {
  display: grid;
  grid-template-columns: repeat(11, minmax(0, 1fr));
  gap: 1rem;

  margin-block: 2rem;
  padding: 1rem;

  border-radius: 0.5rem;

  background-color: var(--neutral-200);
}

.bus-grid :is(.head, .item) {
  display: grid;
  place-items: center;
  margin: 0;
}

.bus-grid input + *::before {
  content: "";
  /* border: 3px solid var(--neutral-900);
	border-radius: 0.5rem; */
}

.seat {
  width: 3rem;
  height: 3rem;
  accent-color: var(--primary-400);
}

div .item.date {
  font-size: 2em;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  h1 {
    flex-direction: column;
    align-items: flex-start;

    font-size: 3em;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    padding-inline: 1rem;
  }

  form div {
    grid-column: 1 / -1;
  }

  form :is(select, input) {
    padding-inline: 0.5rem;
    padding-block: 0.75rem;

    border: 3px solid var(--neutral-700);
    border-radius: 0.5rem;

    width: 100%;
    background-color: var(--neutral-100);

    font-size: 2em;
    font-family: monospace;
  }

  .place {
    width: 60%;
  }
}
